<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <form class="search-form">
        <input type="text" class="search" placeholder="Business Name">
        <ul class="suggestions">
          <li>Filter for a business</li>
        </ul>
      </form>
      <input type="number" id="business-name" value="{{business.name}}" />
      <input name="post-title" type="text" value="{{post.title}}" />
      <p>
        <label>
          <input type="checkbox" class="filled-in" id="safety-measures" value="{{post.safety_measures}}" />
          <span>Safety Measures</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" id="mask-required" value="{{post.mask_required}}" />
          <span>Masks required</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" id="staff-mask" value="{{post.staff_mask}}" />
          <span>Staff wears masks</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" id="staff-gloves" value="{{post.staff_gloves}}" />
          <span>Staff wears gloves</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" id="contactless-payment" value="{{post.contactless_payment}}" />
          <span>Contactless payment</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" id="handsanitizer-provided"
            checked="{{post.handsanitizer_provided}}" />
          <span>Handsanitizer provided</span>
        </label>
        <label>
          <input type="checkbox" class="filled-in" id="social-distancing" checked="{{post.social_distancing}}" />
          <span>Social distancing enforced</span>
        </label>
      </p>
      <textarea name="post-text">{{post.post_text}}</textarea>
    </div>

    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/business-search.js"></script>